extends ../shared/layout
block main-content
    .main-content
        .shadow
            .main-content-form
                .address
                    .users-preview
                    each user in data.users
                       .users-preview-content
                           h3
                               a(href="/users/" + user.username) #{user.username}
                           .border
                               img(src=user.profilePicture class="user-profile-picture" style="width:10%; height:150px")
                    .pagination-control
                        - for(var i = 1; i <= data.total / data.pageSize; i++)
                            - var number = Math.round(data.total / data.pageSize)
                            | page #{i} of #{number} 
                            a.btn.btn-lf.btn-primary(href="/users/public?page=#{i}&pageSize=#{data.pageSize}") #{i}