extends ../shared/layout
block main-content
    .main-content
        .shadow
            .main-content-form
                .address
                    a(href="/home")
                        | home 
                    span
                        | >> user profile
                    .category-preview
                    each advertisment in data.advertisments
                       .category-preview-content
                           h3
                               a(href="/categories/details/:#{category.id}") #{category.title}
                           .border
                               img(src="#{category.picture}" class="user-profile-picture")
                           p
                               | #{category.description}
                    .pagination-control
                        - for(var i = 1; i <= data.total / data.pageSize; i++)
                            - var number = Math.round(data.total / data.pageSize)
                            | page #{i} of #{number} 
                            a.btn.btn-lf.btn-primary(href="/categories/public?page=#{i}&pageSize=#{data.pageSize}") #{i}
