extends ../shared/layout
block main-content
    .main-content
        .event-details.container
            div.row.vertical-center-row
                div.col-md-4.col-md-offset-4
                    if(data)
                        img(src=`${data.picture}` class="img-responsive")
                        h3 #{data.title}
                        if(data.creator)
                            p #{data.creator}
                        p #{data.description}
                        p #{data.place}
                